#about, #projects {
    padding-bottom: 0;
}
.container {
    background-image: url('../img/Background-black.png'); /* Path to your background image */
    background-size: stretch; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    position: relative; /* This will allow absolute positioning of elements inside */
    z-index: 2; /* Ensures content is above the fixed hero image */
    max-width: 1200px; /* Adjust as per design */
    margin: auto; /* Centers the content block */
    justify-content: center;
    flex-grow: 1;
    padding-top: 80px;
    align-items: center;
}

.photo {
    flex: 1;
    position: relative;
}

.portrait {
    width: 100%;
    height: auto;
    display: block; /* Ensures no margin/padding around image */
    opacity: 0.7; /* Adjust based on the actual image opacity */
    object-fit:contain;
}

.text {
    flex: 1;
    padding: 0 5%; /* Adjust as per design */
    z-index: 3; /* Ensures text is above the fixed hero image */
}

.text p {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.6; /* Adjust as per design */
}

/* Consider the responsive design from the previous code if needed */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .photo, .text {
        max-width: 100%;
    }

    .portrait {
        margin-bottom: 30px;
    }
}