#projects  {
    padding-bottom: 0;
}
.container {
    background-image: url('../img/Background-black.png'); /* Path to your background image */
    background-size: stretch; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    max-height: 100vh;
    height:100vh;
    flex-direction: column;
    overflow: hidden; /* Prevents scrolling */
}

.content {
    display: flex;
    position: relative; /* This will allow absolute positioning of elements inside */
    z-index: 2; /* Ensures content is above the fixed hero image */
    max-width: 1200px; /* Adjust as per design */
    margin: auto; /* Centers the content block horizontally */
    justify-content: center;
    flex-grow: 1;
    align-items: center; /* Centers the content vertically */
    max-height: calc(100vh - 160px); /* Ensures the full viewport height is used, adjusting for the header if necessary */
    min-height: calc(100vh - 160px);
    flex-direction: row; /* Keeps items in a horizontal line */
}

.photo, .text {
    flex: 1; /* Ensures that photo and text take up equal space in the container */
}

@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .photo, .text {
        max-width: 100%; /* Allows each block to fill the container */
    }

    .portrait {
        margin-bottom: 30px; /* Provides separation between the photo and text blocks */
    }
}

.photo {
    flex: 1;
    position: relative;
}

.portrait {
    width: 100%;
    height: auto;
    display: block; /* Ensures no margin/padding around image */
    opacity: 0.7; /* Adjust based on the actual image opacity */
    object-fit:contain;
}

.text {
    flex: 1;
    padding: 0 5%; /* Adjust as per design */
    z-index: 3; /* Ensures text is above the fixed hero image */
}

.text p {
    font-family: Lato;
    font-size: 15px;
    line-height: 1.6; /* Adjust as per design */
}

/* Consider the responsive design from the previous code if needed */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .photo, .text {
        max-width: 100%;
    }

    .portrait {
        margin-bottom: 30px;
    }
}