body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    position: relative;
    /* Added for absolute positioning of h1 */
    align-items: center;
    justify-content: space-between;
    /* Aligns items to the left */
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    z-index: 10;
}

.header img {
    height: 75px;
    /* Adjust as needed */
}

.header h1 {
    position: absolute;
    /* Position h1 absolutely within header */
    left: 50%;
    /* Center h1 */
    transform: translateX(-50%);
    /* Offset by half of h1's width */
    margin: 0;
    color: #E1DCD1;
    font-size: 57px;
    font-family: Montserrat;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav a {
    text-decoration: none;
    font-size: 49px;
    font-family: Bebas Neue;
    font-weight: 400;
    letter-spacing: 3.43px;
    z-index: 10;
}

#about, #career {
    color: #B8B8B8;
}

#people, #projects {
    color: #CFBE94;
}

.hero-section { 
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to bottom */
    left: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Behind content but above the background */
  }
  .hero-image { 
    max-width: 100%; 
    height: auto; /* Maintain aspect ratio */
  }
  /* Add some padding to the bottom of the body to ensure it doesn't hide behind the hero image */
  body {
    padding-bottom: 200px; /* Adjust to the height of your hero image */
  }