#MJ, #coachK, #Gigi {
    padding-bottom: 0;
}

.header.toggle {
    position: absolute;
    right: 0px;
}
.container {
    background-image: url('../../img/Background-black.png'); /* Path to your background image */
    background-size: stretch; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    max-height: 100vh;
    height:100vh;
    flex-direction: column;
    overflow: hidden; /* Prevents scrolling */
}

.content {
    display: flex;
    position: relative; /* Allows absolute positioning within */
    z-index: 2; /* Ensures content is above any underlying elements */
    max-width: 1200px; /* Limit width to prevent overflow */
    width: 100%; /* Ensure it uses full available width */
    margin: auto auto 0 auto; /* Centers content and adds top margin to account for header */
    justify-content: center; /* Center the content within */
    flex-grow: 1;
    align-items: center; /* Vertically center the content within */
    flex-direction: row; /* Layout children in a row */
    overflow: hidden; /* Hides any overflowing elements */
    padding: 20px; /* Provides padding to prevent elements from touching the edges */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    max-height: calc(100vh - 160px); /* Ensures the full viewport height is used, adjusting for the header if necessary */
    min-height: calc(100vh - 160px);
}

.photo, .text {
    flex: 1; /* Each takes up equal space */
    margin: 10px; /* Adds margin to prevent touching each other */
    box-sizing: border-box; /* Adjusts box model to include padding and border */
}

.photo {
    position: relative;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.portrait {
    width: 100%; /* Full width of the parent div */
    max-height: calc(.90 * (100vh - 160px));
    object-fit: contain; /* Ensures the image is fully visible within the assigned dimensions */
}

.text {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    padding: 0 5%; /* Adds padding inside text div */
    box-sizing: border-box; /* Adjusts box model to include padding and border */
}

.text p {
    font-family: 'Lato', sans-serif;
    color: #E1DCD1;
    font-size: calc (16px + 0.5vw); /* Adjust based on your specific needs */
    line-height: 1.6; /* Tighter line height to fit more text */
    margin: 0;
    max-height: 60vh; /* Confines text to this height */
    min-width: 55vh;
    overflow-y: auto; /* Allows scrolling if text exceeds the area */
}

/* Consider the responsive design from the previous code if needed */

@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack elements vertically */
        margin-top: 20px; /* Adjust top margin to account for header height */
        padding: 10px; /* Reduces padding in smaller screens */
    }

    .photo, .text {
        max-width: 100%; /* Full width for smaller screens */
        flex: none; /* Disable flex to avoid sizing issues */
        margin: 20px 0; /* Adjusts margin for vertical stacking */
    }
    .text p {
        font-size: calc (12px + 0.5vw);
    }

    .portrait {
        max-height: 40vh; /* Adjusts maximum height relative to screen size */
    }

    .header {
       display: grid;
       row-gap: 60px;
    }
    
}